<div class="container profile-container">
    <div class="row profile-header align-items-center">
        <div class="col-md-2">
            <img src="{{profilePicture}}" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-10 profile-details">
            <h1>{{name}}</h1>
            <p>Subjects Taught: {{subjectsTaught}}</p>
            <p>Experience: {{experience}}</p>
            <p>Location: {{location}}</p>
        </div>
    </div>

    <div class="section professional-info">
        <h2>Professional Information</h2>
        <p>Qualifications: {{qualifications}}</p>
        <p>Availability: {{availability}}</p>
    </div>

    <div class="section tutoring-preferences">
        <h2>Tutoring Preferences</h2>
        <p>Preferred Age Groups: {{preferredAgeGroups}}</p>
        <p>Hourly Rate: {{hourlyRate}}</p>
        <p>Mode of Tutoring: {{modeOfTutoring}}</p>
    </div>

    <div class="section schedule">
        <h2>Schedule</h2>
        <div class="schedule-content">
            <p>Upcoming Sessions:</p>
            <ul class="list-group">
                {{#each upcomingSessions}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
            <p>Past Sessions with Feedback:</p>
            <ul class="list-group">
                {{#each pastSessions}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="section messages">
        <h2>Messages</h2>
        <div class="messages-content">
            <p>{{messages}}</p>
        </div>
    </div>

    <div class="section resources">
        <h2>Resources</h2>
        <div class="resources-content">
            <p>Uploaded Resources:</p>
            <ul class="list-group">
                {{#each uploadedResources}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="section payment-info">
        <h2>Payment Information</h2>
        <div class="payments-content">
            <p>Payment History:</p>
            <ul class="list-group">
                {{#each paymentHistory}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
            <p>Payout Methods: {{payoutMethods}}</p>
        </div>
    </div>
</div>
